.result{
    border: 2px solid rgb(82, 82, 82);
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}
.header{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}
.header img{
    width: 100px;
    aspect-ratio: 1;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.repos > div,
.facts > div {
    box-sizing: border-box;
    border: 1px solid rgb(221, 221, 221);
    padding: 0.75rem;
}

.repos :first-child ,
.facts :first-child  {
    box-sizing: border-box;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 0.75rem  0.75rem 0 0 ;
    padding: 0.75rem;
}